
body {
    background-image: url("../images/ep_naturalwhite.png");
}

.border-bottom {
border-bottom:2px solid #cccccc;
}


h1 {
        color:white;
        font-size:32px;
        background-color:#4aaaa5;
        padding:20px;
        margin:-8px 0px -8px -46px;
}

h2 {
    color:#4aaaa5;
    font-size:32px;}

.footer {
    color:white;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    height:60px;
    background-color:#666666;
    text-align:center;
    line-height: 90px;
    border-top:6px solid #4aaaa5;}

.container {
    background-color:white;
}

#header {
    border-bottom:4px solid #cccccc;
}

p {
    margin-bottom:100px;
}

.img1, .img2, .img3, .img4, .img5 {
    position:relative;
        top:-60px;
        left:29px;
        height:40px;
        width:301px;
        color:white;
        background-color:#4aaaa5;
        text-align:center;
        padding-top:10px;
}
.botton {
    background-color:#4aaaa5;
    margin-bottom:10px;
}